{% extends "base.html" %}

{% block content %}
<h1>Delete {{ object.title }}</h1>
<form action="." method="post">
    <p>Do you really want to delete this course?</p>
    {% csrf_token %}
    <input type="submit" value="Delete"/>
</form>
{% endblock %}