{% extends "base.html" %}

{% block content %}
<h1>
{% if object %}
    Edit course
{% else %}
    Create new course
{% endif %}</h1>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Submit"/>
</form>
{% endblock %}