{% extends "base.html" %}

{% block content %}
<h1>My courses</h1>
<a href="{% url 'course_create' %}">Create new course</a>
<div class="module">
    {% for course in object_list %}
        <h2>{{ course.title }}</h2>
        <ul>
            <li><a href="{% url 'course_edit' course.id %}">Edit</a></li>
            <li><a href="{% url 'course_delete' course.id %}">Delete</a></li>
            <li><a href="{% url 'course_module_update' course.id %}">Edit Modules</a></li>
            <li><a href="{% url 'module_content_list' course.id %}">Edit Content</a></li>
        </ul>
    {% endfor %}
</div>
{% endblock %}