{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<div class="module">
    {% if form.errors %}
        <p>Bad credentials. Try again</p>
    {% endif %}
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Login"/>
    </form>
</div>
{% endblock %}