{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<body>
    <header>
        <nav>
            {% if not request.user.is_authenticated %}
                <a href="{% url 'login' %}">Login</a>
            {% else %}
                <a href="{% url 'manage_course_list' %}">Course List</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </nav>
    </header>
    <section class="content">
        {% block content %}
        {% endblock %}
    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>