{% extends "base.html" %}

{% block content %}
<h1>
{% if object %}
    Edit content
{% else %}
    Create new content
{% endif %}</h1>
<form action="." method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Save"/>
</form>
{% endblock %}