{% extends "base.html" %}
{% load course %}

{% block content %}

{% with course=module.course %}
<h2>{{course.title}}</h2>
<div class="contents">
    <h3>Modules</h3>
    <ul>
        {% for m in course.modules.all %}
        <li data-id="{{ m.id }}">
            <a href="{% url 'module_content_list' m.id %}">
                <span>{{ m.order | add:1 }}. </span>{{ m.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'course_module_update' course.id%}">Edit modules</a></p>
</div>
<div class="module">
    <h1>{{ module.order| add:1 }}: {{ module.title }}</h1>
    <h2>Module contents:</h2>
    <div id="module-contents">
        {% for content in module.contents.all %}
            <article>
                <p>{{ content.item }} {{content.item | model_name }}</p>
                <a href="#">Edit</a>
                <form action="{% url 'module_content_delete' content.id %}" method="post">
                    <input type="submit" value="Delete">
                    {% csrf_token %}
                </form>
            </article>
        {% endfor %}
    </div>
    <h3>Add new content:</h3>
    <ul>
        <li><a href="{% url 'module_content_create' module.id 'text' %}">Text</a></li>
        <li><a href="{% url 'module_content_create' module.id 'image' %}">Image</a></li>
        <li><a href="{% url 'module_content_create' module.id 'video' %}">Wideo</a></li>
        <li><a href="{% url 'module_content_create' module.id 'file' %}">File</a></li>
    </ul>
</div>
{% endwith %}
{% endblock %}