{% extends "base.html" %}

{% block content %}
<h1>{{ course.title }}</h1>
<form action="." method="post">
    {{ formset }}
    {{ formset.management_form }}
    {% csrf_token %}
    <input type="submit" value="Submit"/>
</form>
{% endblock %}